@import "tailwindcss";
@import "react-toastify/dist/ReactToastify.css";

/* === Global scrollbar hide === */
* {
  -ms-overflow-style: none;  /* IE & old Edge */
  scrollbar-width: none;     /* Firefox */
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

@theme {
  --font-sans: "Poppins", sans-serif;
}

:root { color-scheme: light !important; }
html, body, #root { background-color: #fff !important; color: #000; }